{% extends "SoundMixer/base.html" %}

{% block body %}
  {% if random_song and song_id_list %}
    <b><a href="{% url 'categories:song' random_song.id song_id_list %}"> Play random song </a></b><br>
  {% endif %}
  <h3>Songs:</h3>
  {% if song_list %}
    <ul>
      {% for song in song_list %}
        <li><b><a href="{% url 'categories:song' song.id song_id_list %}">{{ song.name }}</a></b><br>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    There's nothing here :(
  {% endif %}
{% endblock %}
